{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<style>
    .contact-form{
        border-bottom: 1px solid black;
    }
    .hidden{
        display: none
    }
</style>

<h1>Add / Update Workorder</h1> 
<p>
<h3>Customer: {{ object.customer }}</h3>
<a href='{{ object.get_absolute_url }}'>Back to Details</a></small><br/>

<div style='margin-top:30px;'>

    <!-- {{ form.customer.label_tag }}
        {% render_field form.customer class="custom-select mb-4" autocomplete="off" hx-get="/workorders/contact/" hx-target="#id_contact" %}
    -->
       <!-- {{ form.contact.label_tag }}
        {% render_field form.contact class="custom-select mb-4" autocomplete="off" %} -->

    {% include 'workorders/partials/forms.html' %}
    <p>
        <p>

          
      
    <p>
    <p>
        {% if titles %}
        <!-- Add Services-->
        <h3>Items:</h3>
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Qty</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody id="item_data">
        
        {% for item in object.get_item_children %}
            {% include 'workorders/partials/item-inline.html' with object=item %}
        {% endfor %}
        </tbody>
        </table>
        
        
        {% if new_item_url %}
        <div id='item-create'>

        </div>


        <button hx-get="{{ new_item_url }}" hx-trigger='click' hx-target='#item-create' hx-swap='beforeend'>Add Item</button>
        {% endif %}
        {% endif %}
    

    


</div>





{% endblock content %}