{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


<!-- Button to open the Modal -->
<div class="col-sm-3 col-xl-2 order-1 order-sm-2 mt-4 float-right">
    <a href="#" data-toggle="modal" data-target="#flyoutmodal" class="btn btn-dark mt-2 w-md-100 text-center">Launch Modal</a>
  </div>
  
  <!-- Modal -->
  <div class="modal" id="flyoutmodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog fadeInRight animated ml-auto" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">May the Force be with you</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful Force controlling everything. There's no mystical energy field that controls my destiny. It's all a lot of simple tricks and nonsense. I want to come with you to Alderaan. There's nothing for me here now. I want to learn the ways of the Force and be a Jedi, like my father before me.</p>
          <p>I have traced the Rebel spies to her. Now she is my only link to finding their secret base. The Force is strong with this one. I have you now. Still, she's got a lot of spirit. I don't know, what do you think?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}



