{% extends "base.html" %}

{% block content %}

<h3>Item Table</h3>
<button class='btn' 
   hx-get="{% url 'workorders:add_item' %}" 
   hx-target="next tbody" hx-swap="afterbegin">
   <svg class="bi bi-plus" width="32" height="32">
    <use xlink:href="#plus"></svg>
</button>

<div id="query_result" hx-target="this" hx-swap="innerHTML" hx-get="{% url 'workorders:get_item_list' %}" hx-trigger="load delay:1s"></div> <div class="d-flex justify-content-center">
<div id="spinner" class="spinner-border htmx-indicator" role="status">
    <span class="sr-only"></span>
  </div>
</div>

{% endblock content %}