<tr>
    <td>{{ form.workorder }}
        {{ form.workorder.errors}}
    </td>
    <td>{{ form.item_category }}
        {{ form.item_category.errors }}
    </td>
    <td>
        {{ form.description }}
        {{ form.description.errors }}
    </td>
    <td>
        {{ form.quantity }}
        {{ form.quantity.errors }}
    </td>
    <td>
        {{ form.unit_price }}
        {{ form.unit_price.errors }}
    </td>
    <td>
        {{ form.total_price }}
        {{ form.total_price.errors }}
    </td>
    <td><a href="#" 
          hx-post="{% url 'submit_new_item' %}" 
          hx-target="closest tr" 
          hx-swap="outerHTML" 
          hx-include="closest tr" 
          class="text-secondary">
            <svg class="bi bi-check-lg me-2" width="32" height="32">
              <use xlink:href="#checkmark"/>
            </svg>
         </a>
    </td>
    <td><a href="#" 
          hx-get="{% url 'cancel_add_item' %}" 
          hx-target="closest tr" 
          hx-swap="outerHTML"
          class="text-secondary">
            <svg class="bi bi-x-lg me-2" width="32" height="32">
              <use xlink:href="#cancel"/>
            </svg>
         </a>
    </td>
</tr>