<h1>{{ object.workorder }}</h1>
    {% if object.get_edit_url %}
    <small>
        <a href='{{ object.get_edit_url }}'>Edit</a>
        <a href='{{ object.get_delete_url }}'>Delete</a>
    </small><br/>
    {% endif %}
<p>
    <table class="table table">
        <tr>
            <td>
                Customer: {{ object.customer.company_name }}<br/>
                Contact: {{ object.contact.fname }} {{ object.contact.lname }}<br/>
                Description: {{ object.description}}<br/>
                Deadline: {{ object.deadline}}<br />
                Budget: {% if object.budget %}${{ object.budget}}{% endif %}<br />
                Quoted Price: {% if object.quoted_price %}${{object.quoted_price}}{% endif %}<br/>
                <!-- <a href='{{ object.get_edit_url }}'>Add Line Item</a> -->
            </td>
            <td>
                Original Workorder:<br/>
                {{ object.original_order }}
            </td>
            <td>
                Invoices related to workorder:<br/>   
            </td>
        </tr>
    </table>