<table class="table table-striped w-100 d-block d-md-table">
    <thead>
        <th>Workorder</th>
        <th>Category</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price</th>
    </thead>
    <tbody>
        {% for object in items %}
            <tr>
                <td>{{ object.workorder }}</td>
                <td>{{ object.item_category }}</td>
                <td>{{ object.description }}</td>
                <td>{{ object.quantity }}</td>
                <td>{{ object.unit_price }}</td>
                <td>{{ object.total_price }}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>